body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#logo {
  float: right;
  width: 300px;
  content: url("../img/pbi.jpg");
  background-repeat: no-repeat;
}
#settings {
  padding: 20px;
  background-color: #eeeeee;
  margin-bottom: 100px;
}
